#about {
    height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#about-image {
    background: url("../images/aboutus.png") no-repeat center center;
    width: 321px;
    height: 435px;
    border-radius: 4px;
    box-shadow: -39px -16px 0px -1px rgba(0, 0, 0, 0.73);
    -webkit-box-shadow: -39px -16px 0px -1px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: -39px -16px 0px -1px rgba(0, 0, 0, 0.73);
}

#about-text {
    text-align: left;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about-text h2 {
    text-align: left;
    font-weight: 600;
}

#about-text h3 {
    text-align: left;
    line-height: 1;
}

.about-background-title {
    position: relative;
    top: 10px;
    margin: 1%;
}

#about-background {
    height: 200px;
    width: 100%;
    background: url("../images/abouthero.jpg") no-repeat center center;
    filter: blur(5px);
}


.about-us {
    width: 25%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 1%;
}

/* Instructor */

#instructor-outer {
    height: 400px;
    margin: 3%;
}

.instructor-container {
    position: relative;
    top: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#instructor-one, #instructor-two{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.instructor {
    height: 300px;
    width: 300px;
    border: 3px solid #b5b5b5;
    margin: 0% 1%;
    border-radius: 4px;
    background-color: #f2f2f2;
    padding: 2% 1%;
}



.instructor h3 {
    text-align: center;
    padding: 10% 0;
}

.instructor p {
    padding: 8% 0;
}

#instructors-image-one {
    background: url("../images/instructor-susan-miranda.png") no-repeat center center;
}

#instructors-image-two {
    background: url("../images/instructor-jane-johnson.png") no-repeat center center;
}

#instructors-image-three {
    background: url("../images/instructor-anna-alfred.png") no-repeat center center;
}

#instructors-image-four {
    background: url("../images/instructor-maria-ericson.png") no-repeat center center;
}

.instructor-images {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 2px solid #b5b5b5;
    margin: -65px auto 0;
}

.instructor-text-container {}

@media screen and (max-width: 1200px) {
    #instructor-outer{
        height: unset;
    }
    .about-us {
        width: 40%;
    }

    .instructor {
        padding: 0.5%;
        height: 130%;
        margin: 12%;
    }
    .instructor-images {
        height: 90px;
        width: 90px;
    }
    #instructor-one, #instructor-two{
        flex-direction: column;
       margin: 2%;
    }
}

@media screen and (max-width: 770px) {
    #instructor-outer {}

    .instructor {
    
    }


    #about-text {}

    #about-image {}
}

@media screen and (max-width: 600px) {
    #about{
        height: 450px;
    }

 #about-image{
    width: 190px;
    height: 350px;
    border-radius: 4px;
 }   
 #about-text{
    font-size: 65%;
 }
 .book-button{
    left: 10%;
    padding: 5px;
    width: 60%;
 }

 .instructor-container{
    flex-direction: column;
    padding-top: 10%;
 }
 .instructor-text-container {
    padding: 0 1%;
}
.instructor h3{
    padding: unset;
}
}