#about {
    height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#about-image {
    background: url("../images/about-images/aboutus.png") no-repeat center center;
    width: 321px;
    height: 435px;
    border-radius: 4px;
    box-shadow: -39px -16px 0px -1px rgba(0, 0, 0, 0.73);
    -webkit-box-shadow: -39px -16px 0px -1px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: -39px -16px 0px -1px rgba(0, 0, 0, 0.73);
}

#about-text {
    text-align: left;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about-text h2 {
    text-align: left;
    font-weight: 600;
}

#about-text h3 {
    text-align: left;
    line-height: 1;
}

.about-background-title {
    position: relative;
    top: 10px;
    margin: 1%;
}

#about-background {

    background: url("../images/abouthero.jpg") no-repeat center center;

}

.book-button {
    background-color: #f5ece7;
    text-decoration: none;
    border: 3px solid #b5b5b5;
    border-radius: 4px;
    color: #000;
    padding: 10px;
    width: 40%;
    text-align: center;
    position: relative;
    top: 1%;
    left: 50%;
    box-shadow: 5px 10px 10px 5px rgb(0 0 0 / 30%);
}

.about-us {
    width: 25%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 1%;
}

/* Instructor */

#instructor-outer {
    height: 400px;
    margin: 3%;
}

.instructor-container {
    position: relative;
    top: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#instructor-one,
#instructor-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.instructor {
    height: 300px;
    width: 300px;
    border: 3px solid #b5b5b5;
    margin: 0% 1%;
    border-radius: 4px;
    padding: 2% 1%;
    background-color: #f5ece7;
}



.instructor h3 {
    text-align: center;
    padding: 10% 0;
}

.instructor p {
    padding: 8% 0;
}

#instructors-image-one {
    background: url("../images/about-images/instructor-susan-miranda.png") no-repeat center center;
}

#instructors-image-two {
    background: url("../images/about-images/instructor-jane-johnson.png") no-repeat center center;
}

#instructors-image-three {
    background: url("../images/about-images/instructor-anna-alfred.png") no-repeat center center;
}

#instructors-image-four {
    background: url("../images/about-images/instructor-maria-ericson.png") no-repeat center center;
}

.instructor-images {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 3px solid #b5b5b5;
    margin: -65px auto 0;
}


@media screen and (max-width: 1200px) {
    #instructor-outer {
        height: unset;
    }

    .about-us {
        width: 40%;
    }

    .instructor {
        padding: 0.5%;
        height: 130%;
        margin: 12%;
    }

    .instructor-images {
        height: 90px;
        width: 90px;
    }

    #instructor-one,
    #instructor-two {
        flex-direction: column;
        margin: 2%;
    }
}


@media screen and (max-width: 600px) {
    #about-background {
        background: url('../images/abouthero-600px.avif') no-repeat center center;
    }

    #about {
        height: 450px;
    }

    .about-background-title {
        top: unset;
        bottom: 125px;
        color: #fff;
        font-weight: 600;
    }

    #about-image {
        background: url("../images/about-images/aboutus-600px.avif") no-repeat center center;
        width: 190px;
        height: 350px;
        border-radius: 4px;
    }

    #about-text {
        font-size: 65%;
    }

    .book-button {
        left: 10%;
        padding: 5px;
        width: 60%;
    }

    .instructor-container {
        flex-direction: column;
        padding-top: 10%;
    }

    .instructor-text-container {
        padding: 0 1%;
    }

    .instructor {
        padding: 5%;
    }

    .instructor h3 {
        padding: unset;
    }

    #instructors-image-one {
        background: url("../images/about-images/instructor-susan-miranda-600px.avif") no-repeat center center;
    }

    #instructors-image-two {
        background: url("../images/about-images/instructor-jane-johnson-600px.avif") no-repeat center center;
    }

    #instructors-image-three {
        background: url("../images/about-images/instructor-anna-alfred-600px.avif") no-repeat center center;
    }

    #instructors-image-four {
        background: url("../images/about-images/instructor-maria-eriscson-600px.avif") no-repeat center center;
    }
}