.about-container{
    flex-direction: row;
}
.about-image {
background: url('../images/about-images/about.jpg') no-repeat center center;
height: 500px;
width: 400px;
border-radius: 10px;
margin: 0px 10px;
max-width: 50vw;
}
#about-text {
    text-align: left;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    max-width: 50vw;
    padding-right: 20px;
}
#about-text h2 {
    text-align: left;
    font-weight: 600;
}
#about-text h3 {
    text-align: left;
    line-height: 1;
}
/* Instructor */
.trainers-container{
    justify-content: center;
    padding-top: 50px;
}
.instructor {
    border: 1px solid rgb(88, 123, 88) !important;
    border-radius: 4px;
    background-color: #CCD5AE;
    margin: 50px!important;
    padding: 0px!important;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 320px;
}
#instructors-image-one {
    background: url("../images/about-images/instructor-susan-miranda.png") no-repeat center center;
}
#instructors-image-two {
    background: url("../images/about-images/instructor-jane-johnson.png") no-repeat center center;
}
#instructors-image-three {
    background: url("../images/about-images/instructor-anna-alfred.png") no-repeat center center;
}
#instructors-image-four {
    background: url("../images/about-images/instructor-maria-ericson.png") no-repeat center center;
}
.instructor-images {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid rgb(88, 123, 88);
}
@media screen and (max-width: 1200px) {
    /* instructors section */
    .instructor-images {
        height: 90px;
        width: 90px;
    }
}
@media screen and(max-width: 1024px) {


}
@media screen and (max-width: 700px) {
    .about-image {
        background: url('../images/about-images/about_300.jpg') no-repeat center center;
        height: 400px;
        width: 250px;
        border-radius: 10px;
    }
        #about-text {
        font-size: 13px;
        width: 250px;
        line-height: 1.2;
        }
    }
@media screen and (max-width: 600px) {
    #about-text {
        font-size: 12px;
        width: 250px;
        line-height: 1.2;
    }
    #about-text h2 {
        font-size: 15px;
        line-height: 0;
    }
    #about-text h3 {
        font-size: 20px;
    }
    .about-button{
        font-size: 15px;
        text-decoration: underline;
    }
    /* instructors section */
    .instructor-container {
        flex-direction: column;
        padding-top: 10%;
    }
    .instructor {
        padding: 5%;
    }

    #instructors-image-one {
        background: url("../images/about-images/instructor-susan-miranda-600px.avif") no-repeat center center;
    }
    #instructors-image-two {
        background: url("../images/about-images/instructor-jane-johnson-600px.avif") no-repeat center center;
    }
    #instructors-image-three {
        background: url("../images/about-images/instructor-anna-alfred-600px.avif") no-repeat center center;
    }
    #instructors-image-four {
        background: url("../images/about-images/instructor-maria-eriscson-600px.avif") no-repeat center center;
    }
    .instructor-text-container {
        padding: 0 1%;
    }
}
@media screen and (max-width: 500px) {
    .instructor h3 {
        font-size: 15px;
    }
    .instructor p {
        font-size: 14px;
    }
    .about-image {
        height: 300px;
        width: 150px;
    }
        #about-text {
        font-size: 10px;
        }

        #about-text h2 {
            font-size: 13px;
            letter-spacing: 2px;
        }
        #about-text h3 {
            font-size: 15px;
        }
}
@media screen and (max-width: 340px) {
        #about-text {
        font-size: 10px;
        line-height: 1;
        }

        #about-text h2 {
            font-size: 11px;
            letter-spacing: 1px;
        }
        #about-text h3 {
            font-size: 14px;
        }
        .about-button{
            font-size: 13px;
        }
}