@media screen and (max-width: 600px) {
    .classes-book-button-container {
        bottom: 1%;
        padding-top: 1%;
    }

    .classes-book-button {
        left: 25%;
    }
    #booking{
        height: unset;
    }
    .form-container{
        flex-direction: column;
    }
    #book-form{
        width: 80%;
    }
    #schedule-information{
        font-size: 75%;
    }
}