/* Hero */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/hero.jpg") no-repeat center center;
    filter: blur(15px);
}
#hero-image-creator {
    position: relative;
    bottom: 4%;
    margin-left: 10px;
}
#hero-image-creator p {
    font-size: 10px;
    text-align: left;
    letter-spacing: 0px;
    color: #000;
    position: absolute;
}
/* cover text and button */
#cover-text {
    text-align: left;
    width: 600px;
    height: 400px;
    padding-top: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -300px;
}
#cover-text h2 {
    font-size: 150%;
    color: #fff;
}
#cover-button {
    font-weight: 600;
    padding: 15px 30px;
    position: absolute;
    right: 10%;
    bottom: 25%;
}
/* classes cards */
.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.classes-home-container {
    justify-content: space-evenly;
    max-width: 1200px;
    width: 100%;
}
.card-section {
    border: 1px solid #b5b5b5;
    border-radius: 10px;
    background-color: #d6ccc2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px!important;
}
.col-lg-3 {
    flex: 0 0 auto;
    width: 29%!important;
}
.card-section h3{
    margin: 0;
    font-size: 23px;
}
.card-section p{
    margin: 0;
}
.class-information{
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    height: 220px;
}

/* class images and classes button */
#class-image-one {
    background: url("../images/classes-page-images/beginner1.jpg") no-repeat center center;
}
#class-image-two {
    background: url("../images/classes-page-images/advanced1.jpg") no-repeat center center;
}
#class-image-three {
    background: url("../images/classes-page-images/group1.jpg") no-repeat center center;
}
.buttons {
    text-decoration: none;
    background-color: #f5ece7;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    color: #000;
}
.classes-button-container {
    padding: 5px;
}
/* classes icons */
.fa-regular {
    display: inline-block;
}
.fa-calendar-days {
    margin-right: 0px;
}
.fa-clock {
    margin-left: 10px;
}
/* Review section */
.review-container {
        margin: 0!important;
        justify-content: center;
}
.review {
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    background-color: #d6ccc2;
    padding: 5px;
    margin: 30px;
}
.review h3 {
    position: relative;
    left: 3%;
    font-size: 20px;
}
#testimonials-image-one {
    background: url("../images/reviews-images/testimonials-lisa-marie-1200px.png") no-repeat center center;
}

#testimonials-image-two {
    background: url("../images/reviews-images/testimonials-karen-carson-1200px.png") no-repeat center center;
}

#testimonials-image-three {
    background: url("../images/reviews-images/testimonials-bree-flynn-1200px.png") no-repeat center center;
}

#testimonials-image-four {
    background: url("../images/reviews-images/testimonials-kara-james-1200px.png") no-repeat center center;
}

#testimonials-image-five {
    background: url("../images/reviews-images/testimonials-adam-smith-1200px.png") no-repeat center center;
}

#testimonials-image-six {
    background: url("../images/reviews-images/testimonials-lily-karlson-1200px.png") no-repeat center center;
}
.review-images {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 1px solid #b5b5b5;
}
.review-image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media screen and (max-width: 1200px) {
    /* classes section and buttons in home page*/
    .class-information{
        font-size: 15px;
    }
}
@media screen and (max-width: 1024px) {
    .card-section h3{
        font-size: 20px;
    }
}
@media screen and (max-width: 900px) {
/* classes home page */
.card-section h3{
    font-size: 17px;
}
.class-information{
    font-size: 13px;
    height: 200px;
    padding: 5px 3px;
}
}
@media screen and (max-width: 770px) {
    .col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%!important;
    }
    .classes-home-container{
        align-items: center;
    }
    .card-buttons{
        font-size: 20px;
    }
    .card-section{
        margin: 50px 0px;
    }
    .card-section h3{
        font-size: 30px;
    }
    .card-section p{
        font-size: 18px;
    }
    .class-information{
        padding: 10px 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
        height: 220px;
    }
    #class-image-one {
        background: url("../images/classes-page-images/beginner1_500.jpg") no-repeat center center;
    }
    #class-image-two {
        background: url("../images/classes-page-images/advanced1_500.jpg") no-repeat center center;
    }
    #class-image-three {
        background: url("../images/classes-page-images/group1_500.jpg") no-repeat center center;
    }
    /* review */
    .review-images {
        height: 60px;
        width: 60px;
    }
}
@media screen and (max-width: 673px) {
    /* reviews */  
}
@media screen and (max-width: 600px) {
    #hero-outer {
        height: 300px;
    }
    #hero-image {
        height: 300px;
    }
    #hero-image-creator p {
        font-size: 40%;
    }
    /* cover text and button */
    #cover-text {
        margin: unset;
        left: unset;
        padding-top: unset;
        height: unset;
        width: unset;
        font-size: 75%;
        top: 20%;
    }
    #cover-button {
        padding: 10px 20px;
        bottom: unset;
        top: 110%;
    }
    /* Hero images */
    #hero-image {
        background: url("../images/hero-600px.avif") no-repeat center center;
    }
    /* classes home page section */
    #class-image-one {
        background: url("../images/classes-page-images/beginner1_400.jpg") no-repeat center center;
    }
    #class-image-two {
        background: url("../images/classes-page-images/advanced1_400.jpg") no-repeat center center;
    }
    #class-image-three {
        background: url("../images/classes-page-images/group1_400.jpg") no-repeat center center;
    }
    .card-section h3{
        font-size: 25px;
    }
    .card-section p{
        font-size: 15px;
    }
}
@media screen and (max-width: 440px) {
    .card-section h3{
        font-size: 20px;
    }
    .card-buttons{
        font-size: 15px;
    }
    .card-section p{
        font-size: 13px;
    }
    .class-information {
        height: 200px;
    }

}
@media screen and (max-width: 350px) {
    .col-10 {
        width: 83.33333333%!important;
    }
}