@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;

}

body {
    font-family: 'Old Standard TT', serif;
    overflow-x: hidden;
}

/* headings and logo */
h1,
h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 300;
    text-align: center;
}

#logo {
    float: left;
    font-size: 280%;
    color: #000;
    margin-left: 20px;
}

/* navigation links */
#menu {
    font-size: 110%;
    letter-spacing: 5px;
}

#menu,
#logo {
    line-height: 80px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #000;
}

#menu a:hover {
    border-bottom: 1px solid #000;
}

.active {
    border-bottom: 1px solid #000;
}

/* cover text and hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/image\ \(2\).jpg") no-repeat center center;
    filter: blur(15px);
}

#hero-image-creator {
    position: relative;
    bottom: 4%;
    margin-left: 10px;
}

#hero-image-creator p {
    font-size: 10px;
    text-align: left;
    letter-spacing: 0px;
    color: #000;
    position: absolute;
}

/* cover text and button */
#cover-text {
    text-align: left;
    width: 600px;
    height: 400px;
    padding-top: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -300px;
}

#cover-text h2 {
    font-size: 150%;
    color: #000;
}

#cover-button {
    text-decoration: none;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    border: 4px solid #000;
    height: 50px;
    width: 50px;
    padding: 20px;
    position: relative;
    left: 70%;
    top: 10%;
}

/* social media links footer */
.social-media-container {}

.social-media-container li {
    display: inline-block;
    font-size: 30px;
    list-style-type: none;
    margin: 50px;
    padding: 10px;
}

.social-media-container i {
    color: #000;
    margin: 5px;
}

/* footer */
footer h3 {
    margin-top: 30px;
    line-height: 40px;
    letter-spacing: 5px;
}

#footer-container {
    position: absolute;
    height: 200px;
    width: 100%;
    text-align: center;
}

/* about section */
#about {
    height: 500px;
    overflow: hidden;
    text-align: center;
}

#about h2 {
    padding-top: 2%;
}

#about-image {
    background: url("../images/aboutus.jpg") no-repeat;
}

#about-text {
    padding: 2% 1%;
    border: 3px solid #000;
}

#about-background {
    height: 100%;
    width: 100%;
    background: url("../images/abouthero.jpg") no-repeat center center;
    filter: blur(5px);
}

.about-us {
    display: inline-block;
    width: 35%;
    height: 60%;
    margin: 100px 10px;
    overflow: hidden;
    position: relative;
}

/*CONTACT*/
#contact-background {
    height: 100%;
    width: 100%;
    background: url("../images/pexels-cottonbro-4325446.jpg") no-repeat center center;
    filter: blur(5px);
}

#footer-map {
    width: 100%;
    height: 300px;
}

#contact-response {
    width: 100%;
    padding: 15% 0 8% 0;
}

/* Classes header */

#classes-background {
    height: 100%;
    width: 100%;
    background: url("../images/pexels-vlada-karpovich-8939837.jpg") no-repeat center center;
    filter: blur(5px);
}

/* card-section, practices home page & classes page */

.card-container {
    height: 600px;
}

.card-container h2 {
    text-align: center;
    margin-top: 2%;
}

.container {
    text-align: center;
    height: 100%;
    width: 100%;
}

.card-section {
    display: inline-block;
    width: 25%;
    height: 500px;
    border: 3px solid #000;
    margin: 20px 30px;
    overflow: hidden;
    position: relative;
}

.card-section h3 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 5px;
}

.card-section p {
    margin: 10px;
}

#class-image-one {
    background: url("../images/beginner1.jpg") no-repeat;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
}

#class-image-two {
    background: url("../images/advanced1.jpg") no-repeat;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
}

#class-image-three {
    background: url("../images/group1.jpg") no-repeat;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
}

.classes-button {
    color: #000;
    background-color: #fff;
    text-decoration: none;
    border: 4px solid #000;
    padding: 15px;
    margin: 20px 15px;
    position: absolute;
    bottom: 4%;
    right: 30%;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.3);
}

.fa-regular {
    display: inline-block;
}

.fa-calendar-days {
    margin-right: 0px;
}

.fa-clock {
    margin-left: 10px;
}

/* beginner classes */
#beginner-image-one {
    background: url("../images/beginner1.jpg") no-repeat;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
}

#beginner-image-two {
    background: url("../images/beginner2.jpg") no-repeat;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
}

#beginner-image-three {
    background: url("../images/beginner3.jpg") no-repeat;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
}


.book-button {
    background-color: #fff;
    text-decoration: none;
    border: 4px solid #000;
    color: #000;
    padding: 10px;
    position: absolute;
    bottom: 2%;
    right: 30%;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.3);
}

#booking {}

/* advanced classes*/
#advanced-image-one {
    background: url("../images/advanced1.jpg") no-repeat;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
}

#advanced-image-two {
    background: url("../images/advanced2.jpg") no-repeat;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
}

#advanced-image-three {
    background: url("../images/advanced3.jpg") no-repeat;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
}

/* Yoga with friends */

#yoga-image-one {
    background: url("../images/group3.jpg") no-repeat;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
}

#yoga-image-two {
    background: url("../images/group2.jpg") no-repeat;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
}

#yoga-image-three {
    background: url("../images/pexels-yan-krukov-8436479.jpg") no-repeat;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
}

.background-outer {
    height: 200px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.background-title {
    font-size: 200%;
    color: #fff;
    text-align: center;
    position: relative;
    bottom: 50%;
}

/* instructors and testimonials*/
.review-instructor-container {
    position: relative;
}

.review-instructor {
    height: 100px;
    width: 15%;
    border: 5px solid #000;
    border-radius: 50%;
    margin: 10% 0;
}

.review-instructor-left {
    width: 50%;
    float: left;
    position: absolute;
    right: 50%;
}

.review-instructor-right {
    width: 50%;
    float: right;
    position: absolute;
    left: 50%;
}

.review-instructor h3 {
    text-transform: capitalize;
    position: relative;
    top: 10px;
    left: 150px;
    width: 400%;
    padding: 15% 0;
}

.review-instructor p {
    width: 700%;
    height: auto;
    padding-left: 150px;
    padding-top: 15%;
}

#testimonials-image-one {
    background: url("../images/pexels-ike-louie-natividad-3310695\ \(2\).jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#testimonials-image-two {
    background: url("../images/pexels-ike-louie-natividad-2709388\ \(2\).jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#testimonials-image-three {
    background: url("../images/pexels-mateus-souza-3586798\ \(2\).jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#testimonials-image-four {
    background: url("../images/review\ 1.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#testimonials-image-five {
    background: url("../images/review2.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#testimonials-image-six {
    background: url("../images/review3.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#instructors-image-one {
    background: url("../images/instructor1.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#instructors-image-two {
    background: url("../images/instructor2.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#instructors-image-three {
    background: url("../images/instructor3.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#instructors-image-four {
    background: url("../images/instructor4.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

.instructor-contact {
    margin: 5% 0;
}

#instructor-outer {
    height: 500px;
    margin: 5%;
}

#testimonials-outer {
    height: 600px;
    margin: 5%;
}

/* Schedule */
#schedule-information {
    border: 3px solid #000;
    height: 70%;
}

table {
    height: 100%;
}

td {
    border: 1px solid #000;
}

.time {
    border: 1px solid #000;
}

/* Book form and contact form */
#contact-text {
    text-align: center;
    font-size: 120%;
    padding-top: 3%;
}

.form-container {
    height: 600px;
    position: relative;
    text-align: center;
}

#contact-form {
    background-color: #f2f2f2;
    padding: 1% 1%;
    border: 4px solid #f2f2f2;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.3);
}

#book-form {
    width: 300px;
    background-color: #f2f2f2;
    padding: 1% 1%;
    vertical-align: top;
    border: 4px solid #f2f2f2;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.3);
}

.contact-us {
    display: inline-block;
    width: 25%;
    height: 80%;
    margin: 70px 50px;
    overflow: hidden;
}

.book-us {
    display: inline-block;
    margin: 70px 20px;
    overflow: hidden;
    width: 45%;
}

.form-input {
    width: 100%;
    height: 5%;
    margin-bottom: 1%;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;

    padding: 5px 3px;
    margin: 8px 0;
}

#message {
    height: 30%;
}

.submit {
    font-family: 'Old Standard TT', serif;
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
    width: 50%;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    /* color: #000; */
    border: 4px solid #f2f2f2;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.3);
}

#contact-information {
    padding: 1%;
    border: 4px solid #000;
    text-align: left;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.3);
    list-style-type: none;
}

#contact-information p {
    text-align: left;
    padding-bottom: 20%;
    font-weight: 600;
}

#contact-header {
    padding-top: 3%;
}

#opening-hours {
    text-align: right;
    line-height: 3;
    list-style-type: none;
}

#opening-hours li {
    list-style-type: none;
}

/* For screens 1200px wide and wider / medium screen size */
@media screen and (min-width: 1200px) {

    /* card container home page and classes page */
    .card-container h2 {
        margin: 4% 0 2% 0
    }

    .card-section {
        display: inline-block;
        width: 25%;
        height: 70%;
        text-align: left;
        border: 4px solid #000;
        margin: 15px;
        overflow: hidden;
    }

    .card-section h3 {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 5px 0;
        font-size: 98%;
    }

    .card-section p {
        text-align: center;
        margin: 5px 0;
        font-size: 13px;
    }

    #class-image-one {
        height: 180px;
    }

    #class-image-two {
        height: 180px;
    }

    #class-image-three {
        height: 180px;
    }

    .classes-button {
        padding: 10px;
        margin: 5px 0;
        font-size: 13px;
    }

    .fa-calendar-days {
        margin-right: 1px;
        font-size: 90%;
    }

    .fa-clock {
        font-size: 90%;
    }

    .book-button {
        padding: 10px;
        margin: 5px 0;
        font-size: 13px;
    }

    /* about page */
    .about-us {
        position: relative;
        width: 45%;
        height: 60%;
    }

    /* Review and instructors section in home page and about page */
    #instructor-outer {
        height: 450px;
    }

    #testimonials-outer {
        height: 650px;
        margin: unset;
    }

    .review-instructor {
        height: 80px;
        width: 20%;
        margin: 25% 0;
    }

    .review-instructor p {
        width: 450px;
        padding-left: 80px;

    }

    .review-instructor-left {
        width: 35%;
        position: absolute;
        display: block;
        left: 5%;
    }

    .review-instructor-right {
        width: 35%;
        position: absolute;
        display: block;
        right: 2%;
    }

    .review-instructor-container {
        position: relative;
    }

    .review-instructor h3 {
        width: 500%;
        left: 180%;
        top: unset;
        bottom: 15%;
    }

    #testimonials-image-one {
        background: url("../images/pexels-ike-louie-natividad-3310695\ \(2\).jpg") no-repeat center center;
        height: 100%;
        border-radius: 50%;
    }

    #testimonials-image-two {
        background: url("../images/pexels-ike-louie-natividad-2709388\ \(2\).jpg") no-repeat center center;
        height: 100%;
        border-radius: 50%;
    }

    #testimonials-image-three {
        background: url("../images/pexels-mateus-souza-3586798\ \(2\).jpg") no-repeat center center;
        height: 100%;
        border-radius: 50%;
    }

    #testimonials-image-four {
        background: url("../images/review\ 1.jpg") no-repeat center center;
        height: 100%;
        border-radius: 50%;
    }

    #testimonials-image-five {
        background: url("../images/review2.jpg") no-repeat center center;
        height: 100%;
        border-radius: 50%;
    }

    #testimonials-image-six {
        background: url("../images/review3.jpg") no-repeat center center;
        height: 100%;
        border-radius: 50%;
    }

    .instructor-contact {
        position: relative;
        bottom: 40%;
        left: 50%;
    }

    /**/


    /* booking section in classes page*/

    .form-container {
        margin-bottom: 5%;

    }

    #schedule-information {
        border: 3px solid #000;
        height: 55%;
        width: 40%;
    }

    .day {
        font-size: 10px;
        font-weight: 600;
    }

    .time {
        font-size: 12px;
        font-weight: 600;

    }

    td {
        font-size: 10px;
        font-weight: 600;
    }

    /* contact page and contact response page */
    #opening-hours {
        margin-top: 10%;
    }

    #opening-hours li {
        font-size: 13px;
        font-weight: 600;
        padding-top: 10%;
    }

    #contact-information {
        padding: 3% 1% 0 1%;
        font-size: 13px;
    }

    /* contact respons page */
    #contact-response {
        padding: 15% 5% 5% 5%;
    }
}

/* For screens 768px wide and wider */

/* hero image and first page */

@media screen and (max-width: 768px) {

    #hero-outer {
        height: 600px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    #hero-image {
        height: 600px;
        width: 100%;
        background: url("../images/image\ \(2\).jpg") no-repeat center center;
        filter: blur(15px);
    }

    #hero-image-creator {
        position: relative;
        bottom: 4%;
        margin-left: 10px;
    }

    #hero-image-creator p {
        font-size: 10px;
        text-align: left;
        letter-spacing: 0px;
        color: #000;
        position: absolute;
    }

    /* testimonials */
    #testimonials-outer {
        height: 1100px;
        padding: 15% 0;
    }

    .review-instructor {
        margin: 15% auto;
    }

    .review-instructor p {
        padding-left: 100px;

    }

    .review-instructor h3 {
        left: 180%;
    }

    .review-instructor-left {
        width: unset;
        position: unset;
        display: unset;
        left: unset;
        float: unset;
        right: unset;
    }

    .review-instructor-right {
        width: unset;
        position: unset;
        display: unset;
        left: unset;
        float: unset;
        right: unset;
    }

    .review-instructor-container {
        display: inline-block;
    }

    /* instructor */

    #instructor-outer {
        height: 700px;
        text-align: left;
        margin: unset;
    }

    .instructor-contact {
        position: relative;
        bottom: 40%;
        left: 50%;
    }

    #instructor-outer p {
        padding-right: 140%;
    }

    /* navigation links */
    #logo {
        font-size: 180%;
        margin-left: 10px;
    }

    #menu,
    #logo {
        line-height: 60px;
    }

    #menu li {
        margin-right: 15px;
        font-size: 85%;
    }

    /* cover-text */
    #hero-outer {
        height: 400px;
    }

    #hero-image {
        height: 400px;
    }

    #cover-text h1 {
        font-size: 180%;
    }

    /* Card sections */
    .card-container {

        height: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card-container h2 {
        margin: 5% 0
    }

    .card-section {
        display: block;
        width: 80%;
        height: 450px;
        text-align: center;
        margin: 15px auto;
    }

    #class-image-one {
        height: 200px;
    }

    #class-image-two {
        height: 200px;
    }

    #class-image-three {
        height: 200px;
    }

    .card-section h3 {
        margin: 10px 0;
    }

    .card-section p {
        margin-bottom: 5px;
        margin: unset;
        font-size: 15px;
    }

    #class-image-one {
        height: 180px;
    }

    #class-image-two {
        height: 180px;
    }

    #class-image-three {
        height: 180px;
    }

    .classes-button {
        padding: 10px;
        font-size: 15px;
    }

    .fa-calendar-days {
        margin-right: 1px;
        font-size: 90%;
    }

    .fa-clock {
        font-size: 90%;
    }

    .book-button {
        bottom: 1%;
        right: 10%;
    }

    /* About page */
    #about {
        height: 800px;
        overflow: hidden;
        text-align: center;

        padding-top: 5%;
    }

    #about h2 {
        font-size: 150%;
    }

    #about-image {
        background: url("../images/pexels-andrea-piacquadio-866023\ \(1\).jpg") no-repeat;
    }

    #about-text {
        padding: 1%;
    }

    #about-background {
        height: 100%;
        width: 100%;
        background: url("../images/image\ \(14\).jpg") no-repeat center center;
        filter: blur(5px);
    }

    .about-us {
        display: block;
        width: 55%;
        height: 40%;
        margin: 0 auto;
        overflow: hidden;
    }

    /* Booking section in classes.html */
    #schedule-information {
        height: 20%;
        width: 45%;
    }

    #booking {
        height: 900px;
        margin-top: 10%;
    }

    .book-us {
        display: block;
        margin: 5% auto;
        width: 30%;
    }

    .box {
        font-size: 10px;
        font-weight: 600;
    }

    .time {

        font-size: 10px;
        font-weight: 600;
    }

    .day {
        font-size: 10px;
        font-weight: 600;
    }

    #contact-text {
        text-align: center;
        font-size: 120%;
        padding-top: 3%;
    }

    /* Contact form */
    .form-container {
        height: 1000px;
        position: relative;
        text-align: center;
    }

    #contact-form {
        background-color: #f2f2f2;
        padding: 1% 1%;
        border: 4px solid #f2f2f2;
        box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.3);
    }

    .contact-us {
        display: block;
        width: 45%;
        height: 48%;
        margin: 2% auto;
    }

    .form-input {
        width: 100%;
        height: 5%;
        margin-bottom: 1%;
        display: block;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px 3px;
        margin: 8px 0;
    }

    #message {
        height: 30%;
    }

    .submit {
        font-family: 'Old Standard TT', serif;
        font-weight: 600;
        letter-spacing: 5px;
        text-transform: uppercase;
        width: 50%;
        padding: 14px 20px;
        margin: 8px 0;
        border-radius: 4px;
        cursor: pointer;
        /* color: #000; */
        border: 4px solid #f2f2f2;
        box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.3);
    }

    #contact-information {
        padding: 1%;
        border: 4px solid #000;
        text-align: left;
        box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.3);
        list-style-type: none;
        height: 38%;
    }

    #contact-information p {
        text-align: left;
        padding-bottom: 10%;
        font-weight: 600;
    }

    #contact-header {
        padding-top: 3%;
    }

    #opening-hours {
        text-align: right;
        line-height: 3;
        list-style-type: none;
    }

    #opening-hours li {
        list-style-type: none;
    }

    #contact-response {
        font-size: 70%;
        padding: 15%;
    }

    /* Footer */
    .social-media-container li {
        display: block;
    }
}

/* For small screens 600px wide and bigger */
@media screen and (max-width: 600px) {

    /* headings and logo */
    header a {
        text-decoration: none;
    }

    #menu {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    }

    #logo {
        float: unset;
        font-size: 150%;
        color: #000;
        margin-left: unset;
    }

    #menu,
    #logo {
        line-height: 200%;
    }

    #hero-outer {
        height: 250px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    #hero-image {
        height: 100%;
        width: 100%;
        background: url("../images/herosmall.jpg") no-repeat center center;
        filter: blur(15px);
    }

    #cover-text {
        text-align: center;
        width: 100%;
        height: 100%;
        padding-top: unset;
        position: absolute;
        top: 1%;
        left: unset;
        margin: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #cover-text h2 {
        font-size: 70%;
        width: 80%;
    }

    #cover-button {
        text-decoration: none;
        font-weight: 600;
        color: #000;
        background-color: #fff;
        border: 4px solid #000;
        height: 15%;
        width: 35%;
        padding: unset;
        position: unset;
        left: unset;
        top: unset;
        display: flex;
        flex-direction: column;
        font-size: 70%;
        justify-content: center;
        margin-top: 5%;
    }

    /* card section */

    #class-image-one {
        background: url("../images/beginner3small.jpeg") no-repeat;
        height: 40%;
        margin-bottom: 5%;
        width: 100%;
    }

    #class-image-two {
        background: url("../images/advanced1small.jpg") no-repeat;
        height: 40%;
        margin-bottom: 5%;
        width: 100%;
    }

    #class-image-three {
        background: url("../images/group1small.jpg") no-repeat;
        height: 40%;
        margin-bottom: 5%;
        width: 100%;
    }

    #beginner-image-one {
        background: url("../images/beginner1small.jpg") no-repeat;
        height: 40%;
        margin-bottom: 5%;
        width: 100%;
    }

    #beginner-image-two {
        background: url("../images/beginner2small.jpg") no-repeat;
        height: 40%;
        margin-bottom: 5%;
        width: 100%;
    }

    #beginner-image-three {
        background: url("../images/beginner3small.jpeg") no-repeat;
        height: 40%;
        margin-bottom: 5%;
        width: 100%;
    }

    #advanced-image-one {
        background: url("../images/advanced1small.jpg") no-repeat;
        height: 40%;
        margin-bottom: 5%;
        width: 100%;
    }

    #advanced-image-two {
        background: url("../images/advanced2small.jpg") no-repeat;
        height: 40%;
        margin-bottom: 5%;
        width: 100%;
    }

    #advanced-image-three {
        background: url("../images/advanced3small.jpg") no-repeat;
        height: 40%;
        margin-bottom: 5%;
        width: 100%;
    }

    /* Yoga with friends */

    #yoga-image-one {
        background: url("../images/group1small.jpg") no-repeat;
        height: 40%;
        margin-bottom: 5%;
        width: 100%;
    }

    #yoga-image-two {
        background: url("../images/group2small.jpg") no-repeat;
        height: 40%;
        margin-bottom: 5%;
        width: 100%;
    }

    #yoga-image-three {
        background: url("../images/group3small.jpg") no-repeat;
        height: 40%;
        margin-bottom: 5%;
        width: 100%;
    }

    .card-section {
        width: 40%;
        height: 37vh;
        margin: 2% auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 60%;
    }
    .card-container h2 {
        font-size: 100%;
    }
    .card-section h3 {
        margin: 2% auto;
        font-size: 80%;
    }

    .card-section p {
        font-size: 60%;
        padding: 1%;
    }

    .classes-button {
        padding: 8px;
        right: unset;
        position: relative;
        width: 50%;
        height: 2%;
        top: 5%;
        font-size: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .book-button {
        padding: 8px;
        right: unset;
        position: relative;
        width: 50%;
        height: 2%;
        top: 3%;
        font-size: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        bottom: unset;
    }



    /*REVIEW*/

    .review-instructor {
        height: 70px;

        margin: unset;
        margin-top: 10%;
    }

    .review-instructor p {
        width: 800%;
        height: unset;
        padding-left: 150%;
        padding-top: unset;
        font-size: 70%;
    }

    .review-instructor h3 {
        left: 150%;
        font-size: 100%;
        top: unset;
        width: 600%;
    }

    #testimonials-outer {
        height: 100%;
        padding: unset;
    }

    /*booking*/
    #booking {
        height: 900px;

        font-size: 60%;
        width: 100%;
    }

    #book-form {
        width: 75%;
    }

    .submit {
        padding: 1%;
    }

    .form-container {
        width: 100%;
    }

    #schedule-information {
        height: 25%;
        width: 100%;
        text-align: left;
    }

    #about-section {
        height: 450px;
    }

    #about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90%;
    }

    #about h2 {
        font-size: 120%;
        padding-top: unset;
    }

    #about-text {
        padding: unset;
        font-size: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: unset;

    }

    .about-us {
        width: 38%;
        height: auto;
        margin: 0 auto;
    }

    #about-image {
        background: url("../images/aboutussmall.jpeg") no-repeat;
        max-width: 100%;
        height: 28%;
    }

    #about-background {

        background: url("../images/aboutherosmall.jpg") no-repeat center center;

    }


    /*instructor*/

    #instructor-outer {
        height: 100%;
        width: 100%;
        padding: 10% 0;
        display: flex;
        flex-direction: column;
    }

    #instructor-outer p {
        padding-left: 100%;
        width: 500%;
        position: relative;
        padding-right: unset;
        top: 1%;
    }

    .review-instructor-container {
        display: flex;
        flex-direction: column;
        font-size: 90%;
        width: 100%;
    }



    /*


#hero-image-creator {
    position: relative;
    bottom: 4%;
    margin-left: 10px;
}

#hero-image-creator p {
    font-size: 10px;
    text-align: left;
    letter-spacing: 0px;
    color: #000;
    position: absolute;
}


#cover-text {
    text-align: left;
    width: 600px;
    height: 400px;
    padding-top: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -300px;
}

#cover-text h2 {
    font-size: 150%;
    color: #000;
}

#cover-button {
    text-decoration: none;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    border: 4px solid #000;
    height: 50px;
    width: 50px;
    padding: 20px;
    position: relative;
    left: 70%;
    top: 10%;
}
    h1,
    h2 {
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: 300;
        text-align: center;
    }
    
#logo {
    float: left;
    font-size: 280%;
    color: #000;
    margin-left: 20px;
}

#menu {
    font-size: 110%;
    letter-spacing: 5px;
}

#menu,
#logo {
    line-height: 80px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #000;
}

#menu a:hover {
    border-bottom: 1px solid #000;
}

.active {
    border-bottom: 1px solid #000;
} */

}