@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'Old Standard TT', serif;
}

/* headings and logo */
h1,
h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 300;
    text-align: center;
}

#logo {
    float: left;
    font-size: 280%;
    color: #000;
    margin-left: 20px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 5px;
}

#menu,
#logo {
    line-height: 80px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #000;
}

#menu a:hover {
    border-bottom: 1px solid #000;
}

.active {
    border-bottom: 1px solid #000;
}

/* cover text and hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/image\ \(2\).jpg") no-repeat center center;
    filter: blur(15px);
}

#hero-image-creator {
    position: relative;
    bottom: 4%;
    margin-left: 10px;
}

#hero-image-creator p {
    font-size: 10px;
    text-align: left;
    letter-spacing: 0px;
    color: #000;
    position: absolute;
}

/* cover text and button */
#cover-text {
    text-align: left;
    width: 600px;
    height: 400px;
    padding-top: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -300px;
}

#cover-text h1 {
    font-size: 250%;
    color: #000;
}

#cover-button {
    text-decoration: none;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    border: 4px solid #000;
    height: 50px;
    width: 50px;
    padding: 20px;
    position: relative;
    left: 70%;
    top: 10%;
}

/* social media links footer */

.social-media-container {}

.social-media-container li {
    display: inline-block;
    font-size: 30px;
    list-style-type: none;
    margin: 50px;
    padding: 10px;
}

.social-media-container i {
    color: #000;
    margin: 5px;
}

/* footer */

footer h3 {
    margin-top: 30px;
    line-height: 40px;
    letter-spacing: 5px;
}

#footer-container {
    position: absolute;
    height: 200px;
    width: 100%;
    text-align: center;
}

.footer-links {}

#social-media {}

#copyright {}

/* about section */

#about {

    height: 500px;

    overflow: hidden;
    text-align: center;
}

#about h2 {
    padding-bottom: 1%;
}

#about-image {
    background: url("../images/pexels-andrea-piacquadio-866023\ \(1\).jpg") no-repeat;


}

#about-text {
    padding: 2% 1%;
    border: 3px solid #000;
}



#about-background {
    height: 100%;
    width: 100%;
    background: url("../images/image\ \(14\).jpg") no-repeat center center;
    filter: blur(5px);
}


.about-us {
    display: inline-block;
    width: 35%;
    height: 55%;

    margin: 100px 10px;
    overflow: hidden;
}


/*CONTACT*/


#contact-background {
    height: 100%;
    width: 100%;
    background: url("../images/pexels-cottonbro-4325446.jpg") no-repeat center center;
    filter: blur(5px);
}



/* Classes header */

#classes-background {
    height: 100%;
    width: 100%;
    background: url("../images/pexels-vlada-karpovich-8939837.jpg") no-repeat center center;
    filter: blur(5px);
}


/* card-section, practices home page & classes page */

.card-container {
    height: 600px;
}

.card-container h2 {
    text-align: center;
    margin-top: 2%;
}

.container {
    text-align: center;
    height: 100%;
    width: 100%;
}

.card-section {
    display: inline-block;
    width: 25%;
    height: 500px;
    text-align: left;
    border: 3px solid #000;
    margin: 20px 30px;
    overflow: hidden;
}

.card-section h3 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 20px 15px;
}

.card-section p {
    margin: 20px 15px;

}

#class-image-one {
    background: url("../images/pexels-yan-krukov-8436587.jpg") no-repeat;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;

}

#class-image-two {
    background: url("../images/pexels-yan-krukov-8436601\ \(1\).jpg") no-repeat;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
}

#class-image-three {
    background: url("../images/pexels-yan-krukov-8436490\ \(1\).jpg") no-repeat;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
}

.classes-button {
    color: #000;
    background-color: #fff;
    text-decoration: none;
    border: 4px solid #000;
    padding: 15px;
    margin: 20px 15px;
    position: relative;
    top: 50px;

    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.3);
}

.fa-regular {
    display: inline-block;
}

.fa-calendar-days {
    margin-right: 0px;
}

.fa-clock {
    margin-left: 10px;
}

/* beginner classes */

#beginner-image-one {
    background: url("../images/pexels-yan-krukov-8436746.jpg") no-repeat;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;

}

#beginner-image-two {
    background: url("../images/pexels-yan-krukov-8436701.jpg") no-repeat;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;

}

#beginner-image-three {
    background: url("../images/pexels-yan-krukov-8436587.jpg") no-repeat;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;

}

.book-button {
    background-color: #fff;
    text-decoration: none;
    border: 4px solid #000;
    color: #000;
    padding: 15px;
    margin: 20px 15px;
    position: relative;
    top: 50px;

    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.3);
}

#booking{}

/* advanced classes*/

#advanced-image-one {
    background: url("../images/pexels-yan-krukov-8436601\ \(1\).jpg") no-repeat;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;

}

#advanced-image-two {
    background: url("../images/pexels-yan-krukov-8436610.jpg") no-repeat;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;

}

#advanced-image-three {
    background: url("../images/pexels-yan-krukov-8436609.jpg") no-repeat;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;

}

/* Yoga with friends */

#yoga-image-one {
    background: url("../images/pexels-yan-krukov-8436478.jpg") no-repeat;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;

}

#yoga-image-two {
    background: url("../images/pexels-yan-krukov-8436476.jpg") no-repeat;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;

}

#yoga-image-three {
    background: url("../images/pexels-yan-krukov-8436479.jpg") no-repeat;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;

}

/**/
.background-outer {
    height: 200px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.background-title {
    font-size: 200%;
    color: #fff;

    text-align: center;
    position: relative;
    bottom: 50%;
}


/* instructors and testimonials*/


.review-instructor-container {
    position: relative;
}


.review-instructor {
    height: 100px;
    width: 20%;
    padding: 0px;
    border: 5px solid #000;
    border-radius: 50%;
    margin: 15% 0;
}



.review-instructor-left {
    width: 40%;
    float: left;
    position: absolute;
    left: 50%;
}

.review-instructor-right {
    width: 40%;
    float: right;
    position: absolute;
    right: 50%;
}

.review-instructor h3 {
    text-transform: capitalize;
    position: relative;
    top: 10px;
    left: 150px;
}

.review-instructor p {
    width: 500px;
    height: auto;
    padding-left: 150px;
    padding-top: 10px;

}

#testimonials-image-one {
    background: url("../images/pexels-ike-louie-natividad-3310695\ \(2\).jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#testimonials-image-two {
    background: url("../images/pexels-ike-louie-natividad-2709388\ \(2\).jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#testimonials-image-three {
    background: url("../images/pexels-mateus-souza-3586798\ \(2\).jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#testimonials-image-four {
    background: url("../images/review\ 1.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}
#testimonials-image-five {
    background: url("../images/review2.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}
#testimonials-image-six {
    background: url("../images/review3.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}





#instructors-image-one {
    background: url("../images/instructor1.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#instructors-image-two {
    background: url("../images/instructor2.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#instructors-image-three {
    background: url("../images/instructor3.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#instructors-image-four {
    background: url("../images/instructor4.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}


.fa-solid {}

.instructor-contact {
    margin: 5% 0;
}

/**/

#instructor-outer {
    height: 500px;
    margin-top: 100px;
}

#testimonials-outer {
    height: 600px;
}


/* Schedule */

#schedule-information {
    border: 3px solid #000;
    height: 70%;
}

table {
    height: 100%;
}
td {
    border: 1px solid #000;
}

.time {
    border: 1px solid #000;
}


/* Book form and contact form */


#contact-text {
    text-align: center;
    font-size: 120%;
    padding-top: 3%;
}
.form-container {
    height: 600px;
    position: relative;
    text-align: center;

}
#contact-form {
    background-color: #f2f2f2;
    padding: 1% 1%;
    border: 4px solid #f2f2f2; 
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.3);
}

#book-form {
    width: 300px;
    background-color: #f2f2f2;
    padding: 1% 1%;
    vertical-align: top;
    border: 4px solid #f2f2f2; 
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.3);
}

.contact-us {
    display: inline-block;
    width: 25%;
    height: 80%;
    margin: 70px 50px;
    overflow: hidden;
}

.book-us {
    display: inline-block;
    margin: 70px 20px;
    overflow: hidden;
    width: 45%;
}

.form-input {
    width: 100%;
    height: 5%;
    margin-bottom: 1%;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;

    padding: 5px 3px;
    margin: 8px 0;
}

#message {
    height: 30%;
}

.submit {
    font-family: 'Old Standard TT', serif;
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
    width: 50%;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;

    /* color: #000; */
    border: 4px solid #f2f2f2; 
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.3);
}


#contact-information {
    padding-top: 1%;
    border: 4px solid #000;
    text-align: left;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.3);
}

#contact-information p {
    text-align: left;
    padding-bottom: 20%;
    font-weight: 600;
}

#contact-header {
    padding-top: 3%;
}

#opening-hours {
    text-align: right;
    line-height: 3;
}

/* For screens 1200px wide and lower / medium screen size */
@media screen and (max-width: 1200px){

    /* card container home page and classes page */
    .card-container {
        height: 100%;
    }
    
    .card-section {
        text-align: center;
        display: block;
        width: 30%;
        height: 500px;
    
        border: 3px solid #000;
        margin: 5% auto;
        overflow: hidden;
    }

    #booking{
        height: 1000px;

    }

    #schedule-information {
        border: 3px solid #000;
        height: 35%;
    }
    .book-us{
        display: block;
        margin: 5% auto;
        width: 30%;
    }
    .box {
        font-size: 10px;
        font-weight: 600;
    }
.time {
    
        font-size: 10px;
        font-weight: 600;
    
}

.day {
    font-size: 10px;
    font-weight: 600;
}
}

